<?xml version="1.0" encoding="UTF-8"?>
<model>
  <name>wideGround</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Jiang Yuyang</name>
    <email>yu.yang.jiang@continental-corporation.com</email>
    <email2>plr258@gmail.com</email2>
  </author>

  <description>
    wide ground
  </description>
</model>
